In [92]:
import pandas as pd

In [93]:
# Print the column labels of the DataFrame
print(beds_df.columns)

Index(['시군구별(2)', '2015', '시군구별(1)'], dtype='object')

In [106]:
beds_df=pd.read_csv('Data\의료기관_소재지_및_유형별__병실입원별_병상수_20230713212722_종.csv',encoding='cp949')
beds_df.drop('유형별(1)',axis=1,inplace=True)
beds_df.drop('유형별(2)',axis=1,inplace=True)
beds_df = beds_df.drop(beds_df.index[0])
for i in beds_df['2015']:
    if i == '-':
        beds_df['2015'] = beds_df['2015'].replace('-',0)
        # print(i)
beds_df['2015.1']=beds_df['2015.1'].astype(int)
beds_df['2015']=beds_df['2015'].astype(int)
beds_df['2015']=beds_df['2015']+beds_df['2015.1']
beds_df.drop('2015.1',axis=1,inplace=True)
beds_df.reset_index(drop=True,inplace=True)

for i in range(len(beds_df.index)):
    if beds_df['시군구별(1)'][i] == '서울':
        beds_df.loc[i,'시군구별(1)'] = '서울특별시'
    elif beds_df['시군구별(1)'][i] == '부산':
        beds_df.loc[i,'시군구별(1)'] = '부산광역시'
    elif beds_df['시군구별(1)'][i] == '대구':
        beds_df.loc[i,'시군구별(1)'] = '대구광역시'
    elif beds_df['시군구별(1)'][i] == '인천':
        beds_df.loc[i,'시군구별(1)'] = '인천광역시'
    elif beds_df['시군구별(1)'][i] == '광주':
        beds_df.loc[i,'시군구별(1)'] = '광주광역시'
    elif beds_df['시군구별(1)'][i] == '대전':
        beds_df.loc[i,'시군구별(1)'] = '대전광역시'
    elif beds_df['시군구별(1)'][i] == '울산':
        beds_df.loc[i,'시군구별(1)'] = '울산광역시'
    elif beds_df['시군구별(1)'][i] == '세종':
        beds_df.loc[i,'시군구별(1)'] = '세종특별자치시'
    elif beds_df['시군구별(1)'][i] == '경기':
        beds_df.loc[i,'시군구별(1)'] = '경기도'
    elif beds_df['시군구별(1)'][i] == '강원':
        beds_df.loc[i,'시군구별(1)'] = '강원도'
    elif beds_df['시군구별(1)'][i] == '충북':
        beds_df.loc[i,'시군구별(1)'] = '충청북도'
    elif beds_df['시군구별(1)'][i] == '충남':
        beds_df.loc[i,'시군구별(1)'] = '충청남도'
    elif beds_df['시군구별(1)'][i] == '전북':
        beds_df.loc[i,'시군구별(1)'] = '전라북도'
    elif beds_df['시군구별(1)'][i] == '전남':
        beds_df.loc[i,'시군구별(1)'] = '전라남도'
    elif beds_df['시군구별(1)'][i] == '경북':
        beds_df.loc[i,'시군구별(1)'] = '경상북도'
    elif beds_df['시군구별(1)'][i] == '경남':
        beds_df.loc[i,'시군구별(1)'] = '경상남도'
    elif beds_df['시군구별(1)'][i] == '제주':
        beds_df.loc[i,'시군구별(1)'] = '제주특별자치도'



    if '구' in beds_df['시군구별(2)'][i][-1:]:
        if '시' in beds_df['시군구별(2)'][i]:
            beds_df.loc[i,'시군구별(2)']=beds_df.loc[i,'시군구별(2)'].split('시')[0]+'시'
    beds_df.loc[i, '시군구별(2)'] = beds_df.loc[i, '시군구별(1)'] + ' ' + beds_df.loc[i, '시군구별(2)']



# '시군구별(2)' 열로 행 그룹화
grouped = beds_df.groupby('시군구별(2)')

# 합산할 열과 첫 번째 값을 유지할 열 지정
aggregated = grouped.agg({'2015': 'sum', '시군구별(1)': 'first'})

# 집계된 데이터로 데이터프레임 업데이트
beds_df = aggregated.reset_index()

beds_df.drop('시군구별(1)',axis=1,inplace=True)
beds_df.head()

   시군구별(2)  2015
0  강원도 강릉시  1229
1  강원도 동해시   199
2  강원도 삼척시   107
3  강원도 속초시   349
4  강원도 영월군   199