In [157]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'  # 한글 폰트명을 설정합니다.

In [158]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
plt.rc('font', family='NanumBarunGothic')
import seaborn as sns

In [159]:
cp_doctor = pd.read_csv("Data/보건의료기관_소재지_및_유형별__의사__간호사__약사수_20230713163134.csv", encoding='cp949')
cp_hospital = pd.read_csv("Data/보건의료기관_소재지별__종류별_보건의료기관수_20230713164916.csv", encoding='cp949')

In [160]:
cp_hospital = cp_hospital.set_index("시도행별")
cp_doctor = cp_doctor.set_index("시도행별")

In [161]:
cp_doctor

      시군구별    유형        병상수  의료 인력수
시도행별
서울      소계  종합병원    500병상이상    2224
서울      소계  종합병원  300~499병상    1524
서울      소계  종합병원  100~299병상     823
서울     종로구  종합병원  100~299병상      87
서울      중구  종합병원  300~499병상     362
...    ...   ...        ...     ...
제주      소계  종합병원    500병상이상     335
제주      소계  종합병원  100~299병상     145
제주     제주시  종합병원    500병상이상     335
제주     제주시  종합병원  100~299병상     114
제주    서귀포시  종합병원  100~299병상      31

[254 rows x 4 columns]

In [162]:
cp_hospital

      시군구별   종류별  기관수
시도행별
서울      소계  종합병원   42
서울     종로구  종합병원    2
서울      중구  종합병원    3
서울     용산구  종합병원    1
서울     광진구  종합병원    1
...    ...   ...  ...
경남     거제시  종합병원    3
경남     양산시  종합병원    2
제주      소계  종합병원    7
제주     제주시  종합병원    6
제주    서귀포시  종합병원    1

[175 rows x 3 columns]

In [163]:
# 시 열 추출
seoul_data_d = cp_doctor.loc["서울"]

gyeonggi_data_d = cp_doctor.loc['경기']

inche_data_d = cp_doctor.loc['인천']

busan_data_d = cp_doctor.loc['부산']

wusan_data_d = cp_doctor.loc['울산']

degu_data_d = cp_doctor.loc['대구']

gangju_data_d = cp_doctor.loc['광주']

dejen_data_d = cp_doctor.loc['대전']

gangwen_data_d = cp_doctor.loc['강원']

chunbuk_data_d = cp_doctor.loc['충북']

chunnam_data_d = cp_doctor.loc['충남']

jenbuk_data_d = cp_doctor.loc['전북']

jennam_data_d = cp_doctor.loc['전남']

genbuk_data_d = cp_doctor.loc['경북']

gengnam_data_d = cp_doctor.loc['경남']

jeju_data_d = cp_doctor.loc['제주']

In [164]:
#'시군구별' 인덱스

seoul_data_d = seoul_data_d.set_index("시군구별")

gyeonggi_data_d = gyeonggi_data_d.set_index("시군구별")

inche_data_d = inche_data_d.set_index("시군구별")

busan_data_d = busan_data_d.set_index("시군구별")

wusan_data_d = wusan_data_d.set_index("시군구별")

degu_data_d = degu_data_d.set_index("시군구별")

gangju_data_d = gangju_data_d.set_index("시군구별")

dejen_data_d = dejen_data_d.set_index("시군구별")

gangwen_data_d = gangwen_data_d.set_index("시군구별")

chunbuk_data_d = chunbuk_data_d.set_index("시군구별")

chunnam_data_d = chunnam_data_d.set_index("시군구별")

jenbuk_data_d = jenbuk_data_d.set_index("시군구별")

jennam_data_d = jennam_data_d.set_index("시군구별")

genbuk_data_d = genbuk_data_d.set_index("시군구별")

gengnam_data_d = gengnam_data_d.set_index("시군구별")

jeju_data_d = jeju_data_d.set_index("시군구별")

In [165]:
#"병상수"와 "유형" 제거

seoul_data_d = seoul_data_d.drop("병상수", axis=1)
seoul_data_d = seoul_data_d.drop("유형", axis=1)

gyeonggi_data_d = gyeonggi_data_d.drop("병상수", axis=1)
gyeonggi_data_d = gyeonggi_data_d.drop("유형", axis=1)

inche_data_d = inche_data_d.drop("병상수", axis=1)
inche_data_d = inche_data_d.drop("유형", axis=1)

busan_data_d = busan_data_d .drop("병상수", axis=1)
busan_data_d = busan_data_d .drop("유형", axis=1)

wusan_data_d = wusan_data_d.drop("병상수", axis=1)
wusan_data_d = wusan_data_d.drop("유형", axis=1)

degu_data_d = degu_data_d.drop("병상수", axis=1)
degu_data_d = degu_data_d.drop("유형", axis=1)

gangju_data_d = gangju_data_d.drop("병상수", axis=1)
gangju_data_d = gangju_data_d.drop("유형", axis=1)

dejen_data_d = dejen_data_d.drop("병상수", axis=1)
dejen_data_d = dejen_data_d.drop("유형", axis=1)

gangwen_data_d = gangwen_data_d.drop("병상수", axis=1)
gangwen_data_d = gangwen_data_d.drop("유형", axis=1)

chunbuk_data_d = chunbuk_data_d.drop("병상수", axis=1)
chunbuk_data_d = chunbuk_data_d.drop("유형", axis=1)

chunnam_data_d = chunnam_data_d.drop("병상수", axis=1)
chunnam_data_d = chunnam_data_d.drop("유형", axis=1)

jenbuk_data_d = jenbuk_data_d.drop("병상수", axis=1)
jenbuk_data_d = jenbuk_data_d.drop("유형", axis=1)

jennam_data_d = jennam_data_d.drop("병상수", axis=1)
jennam_data_d = jennam_data_d.drop("유형", axis=1)

genbuk_data_d = genbuk_data_d.drop("병상수", axis=1)
genbuk_data_d = genbuk_data_d.drop("유형", axis=1)

gengnam_data_d = gengnam_data_d.drop("병상수", axis=1)
gengnam_data_d = gengnam_data_d.drop("유형", axis=1)

jeju_data_d = jeju_data_d.drop("병상수", axis=1)
jeju_data_d = jeju_data_d.drop("유형", axis=1)

In [166]:
# 죽이고 싶었던 "소계" 제거

seoul_data_d = seoul_data_d[~seoul_data_d.index.str.contains('소계')]

gyeonggi_data_d = gyeonggi_data_d[~gyeonggi_data_d.index.str.contains('소계')]

inche_data_d = inche_data_d[~inche_data_d.index.str.contains('소계')]

busan_data_d = busan_data_d[~busan_data_d.index.str.contains('소계')]

wusan_data_d = wusan_data_d[~wusan_data_d.index.str.contains('소계')]

degu_data_d = degu_data_d[~degu_data_d.index.str.contains('소계')]

gangju_data_d = gangju_data_d[~gangju_data_d.index.str.contains('소계')]

dejen_data_d = dejen_data_d[~dejen_data_d.index.str.contains('소계')]

gangwen_data_d = gangwen_data_d[~gangwen_data_d.index.str.contains('소계')]

chunbuk_data_d = chunbuk_data_d[~chunbuk_data_d.index.str.contains('소계')]

chunnam_data_d = chunnam_data_d[~chunnam_data_d.index.str.contains('소계')]

jenbuk_data_d = jenbuk_data_d[~jenbuk_data_d.index.str.contains('소계')]

jennam_data_d = jennam_data_d[~jennam_data_d.index.str.contains('소계')]

genbuk_data_d = genbuk_data_d[~genbuk_data_d.index.str.contains('소계')]

gengnam_data_d = gengnam_data_d[~gengnam_data_d.index.str.contains('소계')]

jeju_data_d = jeju_data_d[~jeju_data_d.index.str.contains('소계')]

In [167]:
#"시군구별"로 합치기

seoul_data_d = seoul_data_d.groupby("시군구별").sum().reset_index()

gyeonggi_data_d = gyeonggi_data_d.groupby("시군구별").sum().reset_index()

inche_data_d = inche_data_d.groupby("시군구별").sum().reset_index()

busan_data_d = busan_data_d.groupby("시군구별").sum().reset_index()

wusan_data_d = wusan_data_d.groupby("시군구별").sum().reset_index()

degu_data_d = degu_data_d.groupby("시군구별").sum().reset_index()

gangju_data_d = gangju_data_d.groupby("시군구별").sum().reset_index()

dejen_data_d = dejen_data_d.groupby("시군구별").sum().reset_index()

gangwen_data_d = gangwen_data_d.groupby("시군구별").sum().reset_index()

chunbuk_data_d = chunbuk_data_d.groupby("시군구별").sum().reset_index()

chunnam_data_d = chunnam_data_d.groupby("시군구별").sum().reset_index()

jenbuk_data_d = jenbuk_data_d.groupby("시군구별").sum().reset_index()

jennam_data_d = jennam_data_d.groupby("시군구별").sum().reset_index()

genbuk_data_d = genbuk_data_d.groupby("시군구별").sum().reset_index()

gengnam_data_d = gengnam_data_d.groupby("시군구별").sum().reset_index()

jeju_data_d = jeju_data_d.groupby("시군구별").sum().reset_index()

In [168]:
#없앴던 시도행별 다시 원래대로 그룹화

seoul_data_d.insert(0, "시도행별", "서울")

gyeonggi_data_d.insert(0, "시도행별", "경기")

inche_data_d.insert(0, "시도행별", "인천")

busan_data_d.insert(0, "시도행별", "부산")

wusan_data_d.insert(0, "시도행별", "울산")

degu_data_d.insert(0, "시도행별", "대구")

gangju_data_d.insert(0, "시도행별", "광주")

dejen_data_d.insert(0, "시도행별", "대전")

gangwen_data_d.insert(0, "시도행별", "강원")

chunbuk_data_d.insert(0, "시도행별", "충북")

chunnam_data_d.insert(0, "시도행별", "충남")

jenbuk_data_d.insert(0, "시도행별", "전북")

jennam_data_d.insert(0, "시도행별", "전남")

genbuk_data_d.insert(0, "시도행별", "경북")

gengnam_data_d.insert(0, "시도행별", "경남")

jeju_data_d.insert(0, "시도행별", "제주")

In [169]:
# 지금 까지 데이터 전원 합체
cp_doctor_a = pd.concat([seoul_data_d, gangju_data_d,inche_data_d,busan_data_d,wusan_data_d,degu_data_d,gangju_data_d
                         ,dejen_data_d,gangwen_data_d,chunbuk_data_d,chunnam_data_d,jenbuk_data_d,jennam_data_d,genbuk_data_d,gengnam_data_d
                         ,jeju_data_d])
cp_doctor_a

   시도행별    시군구별  의료 인력수
0    서울     강남구     108
1    서울     강동구     711
2    서울     강북구      17
3    서울     강서구     115
4    서울     관악구      64
..  ...     ...     ...
6    경남  창원시성산구      77
7    경남  창원시의창구     103
8    경남  창원시진해구      18
0    제주    서귀포시      31
1    제주     제주시     449

[131 rows x 3 columns]

In [170]:
# (종합병원 수를 새기위한)시 열 추출
seoul_data_h = cp_hospital.loc["서울"]

gyeonggi_data_h = cp_hospital.loc['경기']

inche_data_h = cp_hospital.loc['인천']

busan_data_h = cp_hospital.loc['부산']

wusan_data_h = cp_hospital.loc['울산']

degu_data_h = cp_hospital.loc['대구']

gangju_data_h = cp_hospital.loc['광주']

dejen_data_h = cp_hospital.loc['대전']

gangwen_data_h = cp_hospital.loc['강원']

chunbuk_data_h = cp_hospital.loc['충북']

chunnam_data_h = cp_hospital.loc['충남']

jenbuk_data_h = cp_hospital.loc['전북']

jennam_data_h = cp_hospital.loc['전남']

genbuk_data_h = cp_hospital.loc['경북']

gengnam_data_h = cp_hospital.loc['경남']

jeju_data_h = cp_hospital.loc['제주']

In [171]:
#'시군구별' 인덱스

seoul_data_h = seoul_data_h.set_index("시군구별")

gyeonggi_data_h = gyeonggi_data_h.set_index("시군구별")

inche_data_h = inche_data_h.set_index("시군구별")

busan_data_h = busan_data_h.set_index("시군구별")

wusan_data_h = wusan_data_h.set_index("시군구별")

degu_data_h = degu_data_h.set_index("시군구별")

gangju_data_h = gangju_data_h.set_index("시군구별")

dejen_data_h = dejen_data_h.set_index("시군구별")

gangwen_data_h = gangwen_data_h.set_index("시군구별")

chunbuk_data_h = chunbuk_data_h.set_index("시군구별")

chunnam_data_h = chunnam_data_h.set_index("시군구별")

jenbuk_data_h = jenbuk_data_h.set_index("시군구별")

jennam_data_h = jennam_data_h.set_index("시군구별")

genbuk_data_h = genbuk_data_h.set_index("시군구별")

gengnam_data_h = gengnam_data_h.set_index("시군구별")

jeju_data_h = jeju_data_h.set_index("시군구별")

In [172]:
#"종류별" 제거

seoul_data_h = seoul_data_h.drop("종류별", axis=1)

gyeonggi_data_h = gyeonggi_data_h.drop("종류별", axis=1)

inche_data_h = inche_data_h.drop("종류별", axis=1)

busan_data_h = busan_data_h.drop("종류별", axis=1)

wusan_data_h = wusan_data_h.drop("종류별", axis=1)

degu_data_h = degu_data_h.drop("종류별", axis=1)

gangju_data_h = gangju_data_h.drop("종류별", axis=1)

dejen_data_h = dejen_data_h.drop("종류별", axis=1)

gangwen_data_h = gangwen_data_h.drop("종류별", axis=1)

chunbuk_data_h = chunbuk_data_h.drop("종류별", axis=1)

chunnam_data_h = chunnam_data_h.drop("종류별", axis=1)

jenbuk_data_h = jenbuk_data_h.drop("종류별", axis=1)

jennam_data_h = jennam_data_h.drop("종류별", axis=1)

genbuk_data_h = genbuk_data_h.drop("종류별", axis=1)

gengnam_data_h = gengnam_data_h.drop("종류별", axis=1)

jeju_data_h = jeju_data_h.drop("종류별", axis=1)

In [173]:
#'시군구별'로 병원수 전원 sum()사용

seoul_data_h = seoul_data_h.groupby("시군구별").sum().reset_index()

gyeonggi_data_h = gyeonggi_data_h.groupby("시군구별").sum().reset_index()

inche_data_h = inche_data_h.groupby("시군구별").sum().reset_index()

busan_data_h = busan_data_h.groupby("시군구별").sum().reset_index()

wusan_data_h = wusan_data_h.groupby("시군구별").sum().reset_index()

degu_data_h = degu_data_h.groupby("시군구별").sum().reset_index()

gangju_data_h = gangju_data_h.groupby("시군구별").sum().reset_index()

dejen_data_h = dejen_data_h.groupby("시군구별").sum().reset_index()

gangwen_data_h = gangwen_data_h.groupby("시군구별").sum().reset_index()

chunbuk_data_h = chunbuk_data_h.groupby("시군구별").sum().reset_index()

chunnam_data_h = chunnam_data_h.groupby("시군구별").sum().reset_index()

jenbuk_data_h = jenbuk_data_h.groupby("시군구별").sum().reset_index()

jennam_data_h = jennam_data_h.groupby("시군구별").sum().reset_index()

genbuk_data_h = genbuk_data_h.groupby("시군구별").sum().reset_index()

gengnam_data_h = gengnam_data_h.groupby("시군구별").sum().reset_index()

jeju_data_h = jeju_data_h.groupby("시군구별").sum().reset_index()

In [174]:
#없애던 시도행별 다시 원래대로 그룹화

seoul_data_h.insert(0, "시도행별", "서울")

gyeonggi_data_h.insert(0, "시도행별", "경기")

inche_data_h.insert(0, "시도행별", "인천")

busan_data_h.insert(0, "시도행별", "부산")

wusan_data_h.insert(0, "시도행별", "울산")

degu_data_h.insert(0, "시도행별", "대구")

gangju_data_h.insert(0, "시도행별", "광주")

dejen_data_h.insert(0, "시도행별", "대전")

gangwen_data_h.insert(0, "시도행별", "강원")

chunbuk_data_h.insert(0, "시도행별", "충북")

chunnam_data_h.insert(0, "시도행별", "충남")

jenbuk_data_h.insert(0, "시도행별", "전북")

jennam_data_h.insert(0, "시도행별", "전남")

genbuk_data_h.insert(0, "시도행별", "경북")

gengnam_data_h.insert(0, "시도행별", "경남")

jeju_data_h.insert(0, "시도행별", "제주")

In [175]:
# 지금 까지 데이터 전원 합체
cp_hospital_a = pd.concat([seoul_data_h, gangju_data_h,inche_data_h,busan_data_h,wusan_data_h,degu_data_h,gangju_data_h
                         ,dejen_data_h,gangwen_data_h,chunbuk_data_h,chunnam_data_h,jenbuk_data_h,jennam_data_h,genbuk_data_h,gengnam_data_h
                         ,jeju_data_h])
cp_hospital_a

   시도행별    시군구별  기관수
0    서울     강남구    2
1    서울     강동구    3
2    서울     강북구    1
3    서울     강서구    3
4    서울     관악구    2
..  ...     ...  ...
9    경남  창원시의창구    1
10   경남  창원시진해구    1
0    제주    서귀포시    1
1    제주      소계    7
2    제주     제주시    6

[150 rows x 3 columns]

In [176]:
cp_doctor_a.set_index("시도행별")

        시군구별  의료 인력수
시도행별
서울       강남구     108
서울       강동구     711
서울       강북구      17
서울       강서구     115
서울       관악구      64
...      ...     ...
경남    창원시성산구      77
경남    창원시의창구     103
경남    창원시진해구      18
제주      서귀포시      31
제주       제주시     449

[131 rows x 2 columns]

In [177]:
cp_hospital_a.set_index("시도행별")

        시군구별  기관수
시도행별
서울       강남구    2
서울       강동구    3
서울       강북구    1
서울       강서구    3
서울       관악구    2
...      ...  ...
경남    창원시의창구    1
경남    창원시진해구    1
제주      서귀포시    1
제주        소계    7
제주       제주시    6

[150 rows x 2 columns]